*{
    margin: 0;
    padding: 0;
}
body{
background-color: #f7c8e3;
background-size: cover;
margin: 0;
padding: 0;
align-items: center;
justify-content: center;
font-family: "Raleway", sans-serif;
text-align: center;
}

header {
    background-image: url(header.png);
    text-indent: -50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 132px;
    padding-top: 5px;
   border-bottom: 5px solid #fff458;
  }



#logo{
    margin: -50px;
    width: 142px;
    margin-right: 87%;
    padding-top: 44px;
    
    
}


#carrinho{
 width: 120px;
 margin-top: 6px;
 position:absolute ;
 right: 30px;
}

#icon{
width: 120px;
margin-top: 6px;
position: absolute;
right: 17%;
}

#zape1{
width: 120px;
margin-top: 6px;
position:fixed;
right: 9%;
}

main {
    max-width: 100%;
    margin: 90px;
    padding: 10px;
    
    
    
}

.cadastro{
    margin-top:30px;
              padding: 50px;
              cursor: pointer;
              color: #0d17a5;
              font-size: 22px;
              width: 40%;
              background-color: #f8d2f8;
              border-radius: 5px;
              border-bottom: 3px #000000;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin: 3%;
              margin-left: 25%;
              position: fixed;
              height: 270px
             
   
}

h2{
    margin-top: -35%;
   
}

#senha.log{
    position: fixed;

}
#email.log{
    position: fixed;
}




.break{
    width: 0.3px;
    height: 340px;
    background-color: #000000;
    justify-content:left;
    align-items:center;
    margin-left: 50px;
}

button{
    background-color:rgb(225, 161, 241);
    font-size: 20px;
    color: #ffffff;
    margin-left: 90px;
    
 }

   

    
    footer {
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background-color: #eacded;
        height: 90px;
        
      
    }

    footer p{
        padding-top: 28px; 
        
    }


    #logo{
        margin-top: -6px;
        width: 139px;
        margin-left:50px;

    }
    
    #zape{
        width: 5%;
        margin-top: -10%;
        margin-left: 92%;
        position: fixed;
    }
    
    #olho{
    width: 7%;
   
    }
    
  