*{
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  header {
    background-image: url(header.png);
    text-indent: -50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 132px;
    padding-top: 5px;
   border-bottom: 5px solid #fff458;
  }



  #carrinho{
    width: 120px;
    margin-top: 6px;
    position:absolute ;
    right: 30px;
   }
   
   #icon{
   width: 120px;
   margin-top: 6px;
   position: absolute;
   right: 17%;
   }
   
   #zape{
   width: 120px;
   margin-top: 6px;
   position:absolute;
   right: 9%;
   }


  #logo{
    width: 137px;
    margin-left: 50px;
    margin-top: -5px;
    position: absolute;
  }

          body {
              font-family: Arial, sans-serif;
              margin: 0;
              padding: 0;
              background-color: #f7c8e3;
              
              
          }
          .info{
              max-width: 1100px;
              margin: 100px ;
              background-color: #eaeaea;
              padding: 20px;
              margin-left: 17%;
              border: 1px solid #eaeaea;
              border-radius: 5px;
              display: flex;
              border: 5px solid rgb(117, 177, 255);
             
              
          }
          
          .info img{
              width: 50%;
              border: 2px solid #9e9e9e;
               
          }
  
          .texto{
              display: inline;
              margin: 20px;
              padding-bottom: 20px;
              font-size: 20px;
          }
  
          .texto h1{
              font-size: 45px;
              padding-bottom: 30px;
          }
          .texto h3{
              font-size: 25px;
          }
          .texto p{
              font-size: 20px;
              padding-top: 20px;
              padding-bottom: 20px;
          }
        
  
        
          .break{
              width: 0.1px;
              height: 550px;
              background-color: #000000;
              justify-content: center;
              align-items: center;
              margin-left: 20px;
          }
  
  
          #sacola{
            margin-top:220px;
            padding: 10px;
            cursor: pointer;
            color: #4d4d4d;
            font-size: 20px;
            width: 100%;
            background-color: #eedcc2;
            border-radius: 5px;
            border:2px solid #9b8c65;

            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;


          
          }  
  
          #sacola:hover{
              background-color: #ecd0a9;
              transition: 0.3s;
              color: #4d4d4d;
              border: 1px solid #eedcc2; 
          }
  
          
          #contador{
              padding: 2rem;
              border-radius: 8px;
              width: 14rem;

              
          }
          #value{
              font-size: 2rem;
              color: #333333;  
              min-width: 14rem; 
              text-align: center;     
          }
          button {
              border: none;
              border-radius: 4px;
              color: #000000;
              font-weight: 400;
              cursor: pointer;
              font-size: 20px;
              background-color: #ecd0a9;
              border:2px solid #9b8c65;
          }
          button:hover{
            background-color: #ecd0a9;
            transition: 0.3s;
            color: #4d4d4d;
            border: 1px solid #eedcc2;

          }
          .botao{
              width: 2rem;
              height: 2rem;
          }
  
          footer {
      background-color: #eacded;
      color: #300a35;
      text-align: center;
      padding: 10px 0;
      font-family: 'Abril Fatface', serif;
     
  }
  header {
    background-color: #f3b1f0;
    color: #fff;
    text-indent: -50px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    padding-top: 5px;
}
 
  